@charset "UTF-8";

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  width: 200px;
  margin-top: 30px;
  border-radius: 15%;
}

.page-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px 50px 50px;
}

/*.page-login {
  border-radius: 10px;
  border-color: #757575;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5vw;
}*/

h2 { 
  text-align:center; 
  margin-bottom:50px;
}

.forms { 
  position:relative; 
  margin-bottom:35px; 
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300vw;
  border:none;
  border-bottom:1px solid #bf1922;
}

input:focus { 
  outline:none; 
}

label {
  color:#bf1922; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:#bf1922;
}

.bar { position:relative; display:block; width:300px; }
.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#bf1922; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from { background:#bf1922; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#bf1922; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#bf1922; }
  to  { width:0; background:transparent; }
}

.sign-in-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #bf1922;
	color: #fff;
	border: none;
	border-radius: 4px;
	outline: 2px solid #bf1922;
	cursor: pointer;
	transition: outline-offset .25s;
}
.sign-in-button:hover,
.sign-in-button:focus{
	outline-offset: 3px;
}
.sign-in-button:is(:hover, :focus){
	outline-offset: 3px;
}

.button-login-google{
  display: inline-block;
  padding: 10px 20px;
  border-color: #bf1922;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
	transition: outline-offset .25s;
}

img{
  width: 3vw;
}

.footer{
  align-content: center;
}