@charset "UTF-8";

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 { 
  text-align:center; 
  margin-bottom:50px;
}

.forms { 
  position:relative; 
  margin-bottom:45px; 
}
.page-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5vw;
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus { 
  outline:none; 
}

label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:#bf1922;
}

.bar { position:relative; display:block; width:300px; }
.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#bf1922; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from { background:#bf1922; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#bf1922; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#bf1922; }
  to  { width:0; background:transparent; }
}

/* .input-group {
  position: relative;
}

.input-group__input {
  font: inherit;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: 2px solid #fff;
  background-color: transparent;
  transition: outline-color 500ms;
}

.input-group__input:is(:focus, :valid) {
  outline-color: #bf1922;
}

.input-group__label {
  position: absolute;
  top: 0;
  left: 0;
  translate: 10px 10px;
  color: #fff;
  transition: translate 500ms, scale 500ms;
}

.input-group__input:focus+.input-group__label,.input-group__input:valid+.input-group__label {
  padding-inline: 5px;
  translate: 10px -14px;
  scale: 0.8;
  background-color: #000;
} */

.sign-in-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #bf1922;
	color: #fff;
	border: none;
	border-radius: 4px;
	outline: 2px solid #bf1922;
	cursor: pointer;
	transition: outline-offset .25s;
}
.sign-in-button:hover,
.sign-in-button:focus{
	outline-offset: 3px;
}
.sign-in-button:is(:hover, :focus){
	outline-offset: 3px;
}