.footer{
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    width: 100%;
    align-items: center;

}

.links li{
    display: inline-block;
    margin: 0 10px;
}

.links li a{
    text-align: center;
    justify-content: space-around;
    text-transform: uppercase;
    display: flex;
} 
