@charset "UTF-8";

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

body, html {
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
}

body {
    background-color: rgb(243, 243, 243);
}

nav {
    background-color: rgb(250, 250, 250);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10%;
}

#teste {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
} */

.footer{
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}
